body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
img{
    display: block;
}
.container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;  
    margin: 0 auto;  
    }
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-nav {
    display: flex;
    align-items: center;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin: 76px; /*motzna k logo-header*/
}

.studio-color {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    padding: 24px 0;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex; 
    gap: 40px;
}

.contacts-items {}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*section1*/
.solutions {
    background-color: #2e2f42;
    padding: 188px 0;
    /*можна використовувати аналог padding: 188px 0 188px або padding-top: 188px; та padding-bottom: 188px;*/
}

.solutions-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.solutions-button {

    background: #4d5ae5;
    font-weight: 500;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.solutions-button:hover,
.solutions-button:focus {
    background-color:/* #404bbf*/ #4d5ae5; 

}

/*section2*/
.stpudite {
    background-color: #ffffff;
}

.stpudite-list {}

.stpudite-items {}

.stpudite-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.stpudite-text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/*section3*/
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #ffffff;
    /*mozna spatne*/
}

.team-list {
    background-color: #ffffff;
}

.team-items {
    background-color: #ffffff;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    ;
}

.team-text {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*4secti9on*/
.portfolio {
    background-color: #ffffff;
}

.portfolio-title {

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*footer*/
.footer {
    background-color: #2e2f42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-color {
    color: #f4f4fd;
}